<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.vgcpge.eclipse.copilot.ui.internal.GithubCopilotProvider"
            id="org.vgcpge.eclipse.copilot.ui.copilot"
            label="Unofficial Github Copilot">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="org.vgcpge.eclipse.copilot.ui.copilot"
            languageId="java">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.core.runtime.text"
            id="org.vgcpge.eclipse.copilot.ui.copilot">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.vgcpge.eclipse.copilot.ui.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.vgcpge.eclipse.copilot.ui.internal.PreferencePage"
            id="org.vgcpge.eclipse.copilot.ui.page1"
            name="Copilot">
      </page>
   </extension>

</plugin>
